body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.upper {
  height: 50%;
  background-color: #29ccfd;
flex-direction: column;
}

.lower {
  height: 50%;
  background-color: rgb(168, 81, 81);
  flex-direction: column;
 
}
.btn{
  background-color: #29ccfd;
}